---
import Layout from "../layouts/Layout.astro";
const locals = Astro.locals;
const cookie = Astro.request.headers.get("cookie");
---

<Layout title="hello ming">
  <button id="login">Login</button>
  <button id="logout">Logout</button>
  <h1>{JSON.stringify(locals)}</h1>
  <h2>{JSON.stringify(cookie)}</h2>
</Layout>

<script>
  const loginButton = document.getElementById("login");

  if (loginButton) {
    loginButton.addEventListener("click", () => {
      fetch("/api/login", { method: "POST" })
        .then((res) => {
          if (!res.ok) {
            throw new Error("Not OK!");
          }
          window.location.href = "/protected";
        })
        .catch((error) => {
          console.warn("Fetch call failed");
          console.error(error);
        });
    });
  }
  const logoutButton = document.getElementById("logout");

  if (logoutButton) {
    logoutButton.addEventListener("click", () => {
      fetch("/api/logout", { method: "POST" })
        .then((res) => {
          if (!res.ok) {
            throw new Error("Not OK!");
          }
          window.location.href = "/";
        })
        .catch((error) => {
          console.warn("Fetch call failed");
          console.error(error);
        });
    });
  }
</script>
